/* make the customizations */
$theme-colors: (
  "primary": #D85426,
  "info": tomato,
  "danger": teal,
  "dark": #222
);

// @import '~bootstrap/scss/bootstrap.scss';
@import 'bootstrap';
@import '../style/mediaQuery.scss';


// sticky footer
html, body, #root {
  height: 100%;
}
.App {
 height: 100%;
 display: flex;
 flex-direction: column;
 min-width: 320px;
}
.Content {
 flex: 1 0 auto;
}
.Footer {
 flex-shrink: 0;
}

// Bootstrap sticky position: z-index: 1020
.Header {
  z-index: 2000;
}
.Menu {
  z-index: 1900;
}
.Backdrop {
  z-index: 1800;
}
.slick-arrow {
  z-index: 1700;
}
