.Lang {
  > li {
    border: none;
    padding: 0;
  }
  button {
    background-color: transparent !important;
    border: none !important;
    font-size: 0.7rem;
    &:active, &:focus, &:hover, &.active {
      color: var(--primary) !important;
    } 
  }
}