.MenuButton {
  .menuIcon {
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    &.menuIcon--open {
      padding: 2px 0;
      > span {
        display: block;
        // width: 0;
        width: 30px;
        height: 2px;
        margin: 5px 0;
        background-color: #000;
        // transition: width 1s ease-in;
      }
    }
    &.menuIcon--close {
      > span {
        position: absolute;
        top: 14px;
        display: block;
        // width: 0;
        width: 30px;
        height: 2px;
        background-color: #000;
        // transition: width 1s ease-in;
        &.one {
          transform: rotate(45deg);
        }
        &.two {
          transform: rotate(-45deg);
        }
      }
    }
    &:focus {
      outline: none;
    }
  }
}