.Authentication {
  > .Resume {
    border: none !important;
  }
}
.Resume {
  li {
    border: none;
  }
  a {
    > img {
      width: 60px;
      height: 60px;
      filter: invert(47%) sepia(14%) saturate(293%) hue-rotate(167deg) brightness(92%) contrast(87%); // gray #6c757d
      &:hover, &:focus {
        filter: invert(41%) sepia(16%) saturate(6069%) hue-rotate(349deg) brightness(90%) contrast(86%); // #D85426
      }
    }
  }
  button {
    > img {
      width: 40px;
      height: 40px;
      filter: invert(47%) sepia(14%) saturate(293%) hue-rotate(167deg) brightness(92%) contrast(87%); // gray #6c757d
      &:hover, &:focus {
        filter: invert(41%) sepia(16%) saturate(6069%) hue-rotate(349deg) brightness(90%) contrast(86%); // #D85426
      } 
    } 
  }
}