.Social {
  padding: 1rem 0;
  > li {
    border: none;
    img {
      width: 20px;
      height: 20px;
      // filter: invert(0%) sepia(1%) saturate(7416%) hue-rotate(88deg) brightness(94%) contrast(100%); // #000
      // filter: invert(9%) sepia(6%) saturate(10%) hue-rotate(8deg) brightness(100%) contrast(89%); // dark #222
      // filter: invert(22%) sepia(4%) saturate(1427%) hue-rotate(169deg) brightness(97%) contrast(95%); // gray-dark #343a40
      filter: invert(47%) sepia(14%) saturate(293%) hue-rotate(167deg) brightness(92%) contrast(87%); // gray #6c757d
      &:hover, &:focus {
        filter: invert(41%) sepia(16%) saturate(6069%) hue-rotate(349deg) brightness(90%) contrast(86%); // #D85426
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  footer {
    .Social {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Content {
    .Social {
      display: none;
    }
  }
  footer {
    .Social {
      display: flex;
      padding: 0;
    }
  }
} 